<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Charak Samita Knowledge Extractor{% endblock %}</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.12.313/pdf_viewer.css">
</head>
<body class="bg-gray-100 font-sans">

<nav class="bg-green-500 py-4 w-full">
  <div class="w-4/5 mx-auto flex justify-between items-center flex-col md:flex-row">
    <a class="text-white text-sm md:text-xl font-bold" href="#">Charak Samhita Health Portal</a>
    <div class="flex space-x-4">
      <a class="text-white hover:text-gray-300" href="{% url 'home' %}">Home</a>
      <a class="text-white hover:text-gray-300" href="{% url 'about' %}">About</a>
      <a class="text-white hover:text-gray-300" href="{% url 'contact' %}">Contact</a>
    </div>
  </div>
</nav>

<div class="container mx-auto mt-4">
    {% block content %}
    {% endblock %}
</div>
<footer class="bg-green-500 text-white text-center py-4 fixed bottom-0 w-full">
    <div class="container mx-auto">
      <p>&copy; 2024 Charak Samhita Health Portal. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
