{% extends 'base.html' %}

{% block title %}Charak Samita Knowledge Extractor{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 max-w-screen-lg mt-10 pb-24 ">
        <div class="sloka bg-gray-200 rounded-md p-4 mb-4 border border-green-500">
            <h2 class="text-xl font-bold mb-4">Information regarding the {{query}} in Charak Samhita</h2>
            {% if results %}
                {% for result in results %}
                    <p class="explanation text-lg text-gray-700">{{ result }}</p>
                {% endfor %}
            {% else %}
                <p class="text-red-500">No results found.</p>
            {% endif %}
        </div>
        <!-- Add more slokas and explanations here -->
    </div>
{% endblock %}
