<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charak Samhita Health Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
<div class="container mx-auto mt-10 px-4">
    {% if ebooks %}
    {% for result in ebooks %}
    <h1 class="capitalize text-center text-4xl text-green-600 mb-8">{{ result.title }}</h1>
    <div>
        <iframe id="pdf" src="{{result.book.url}}#toolbar=0&zoom=350&page=1" type="application/pdf" class=" w-full h-screen mx-auto"></iframe>
    </div>
    {% endfor %}
    {% else %}
    <p class="text-red-500">No results found.</p>
    {% endif %}
</div>
</body>
<script>
    // pdf=document.getElementById('pdf')
    // console.log(pdf.src)
    // // Original URL
    // var url =pdf.src;

    // // Function to update the page number in the URL
    // function updatePageNumber(url, newPageNumber) {
    //     var regex = /page=\d+/;
    //     var updatedUrl = url.replace(regex, 'page=' + newPageNumber);
    //     return updatedUrl;
    // }

    // // Call the function with the new page number
    // var originalNumber=4;
    // var newPageNumber = originalNumber+300; // Change this to the desired page number
    // var updatedUrl = updatePageNumber(url, newPageNumber);

    // console.log(updatedUrl); // Output the updated URL
    // pdf.src=updatedUrl



</script>
</html>